<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="https://flightlesslabs.github.io/branding/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<title>Dodo UI - Home</title>
<meta name="description" content="Opinionated UI framework for Svelte." />
