---
import { Image } from 'astro:assets';
import LinkButton from '../ui/LinkButton.svelte';

const base = import.meta.env.BASE_URL;
---

<div class="Identity">
  <Image
    src="https://flightlesslabs.github.io/branding/dodo-circle-1.png"
    alt="Dodo UI logo"
    width={110}
    height={110}
    layout="constrained"
    class="image image--mobile"
  />
  <Image
    src="https://flightlesslabs.github.io/branding/dodo-circle-1.png"
    alt="Dodo UI logo"
    width={170}
    height={170}
    layout="constrained"
    class="image image--desktop"
  />
  <h1>Dodo UI</h1>
  <p>Opinionated UI framework for Svelte.</p>
  <LinkButton href={`${base}/docs`} size="large"> Get started </LinkButton>
</div>

<style lang="scss">
  .Identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dodo-color-white);

    h1 {
      font-size: 2rem;
      margin: 0;
      margin-top: var(--dodo-ui-space);

      @media (min-width: 800px) {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.1rem;
      margin: 0;
      margin-top: var(--dodo-ui-space);
      margin-bottom: calc(var(--dodo-ui-space) * 4);

      @media (min-width: 800px) {
        font-size: 1.5rem;
        margin-top: calc(var(--dodo-ui-space) * 2);
      }
    }

    .image {
      &--mobile {
        @media (min-width: 800px) {
          display: none;
        }
      }

      &--desktop {
        display: none;
        @media (min-width: 800px) {
          display: inline-flex;
        }
      }
    }
  }
</style>
