---
import '@flightlesslabs/dodo-ui/styles/global/index.scss';
import '@flightlesslabs/dodo-ui/styles/components.scss';
// Addon (dodo-ui-bits)
import '@flightlesslabs/dodo-ui-bits/styles/main.css';
import '@flightlesslabs/dodo-ui-date/styles/main.scss';

import TheHeader from '../components/TheHeader/TheHeader.astro';
import BaseLayoutContainer from './BaseLayoutContainer/BaseLayoutContainer.astro';
---

<BaseLayoutContainer>
  <TheHeader />
  <main>
    <slot />
  </main>
</BaseLayoutContainer>

<style lang="scss">
  main {
    height: calc(100vh - var(--TheHeader-height));
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px;
    background-color: var(--dodo-color-neutral-200);

    @media (min-width: 800px) {
      padding: 24px;
    }
  }
</style>
