@use '../src/lib/styles/global/index.scss';
@use '../src/lib/styles/components.scss';

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

:where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)),
:where(li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li)) {
  font-size: max(1em, 16px) !important;
}

pre.prismjs {
  font-size: max(1em, 16px) !important;
}
